POSTGRES_DB=observability_demo
POSTGRES_PASSWORD=postgres_password
PGWATCH_USER=pgwatch
PGWATCH_PASSWORD=pgwatch_password
REPLICATION_USER=replicator
REPLICATION_PASSWORD=replicator_password
PGWATCH_VERSION=5.0.0
PGWATCH_GRAFANA_USER=admin
PGWATCH_GRAFANA_PASSWORD=pgwatchadmin
